/.idea/
/.gradle/
/local.properties
/app/build/
/components-business/moduleA/api/build/
/components-business/moduleA/impl/build/
/components-business/moduleA/sample/build/
/components-business/moduleB/api/build/
/components-business/moduleB/impl/build/
/components-capability/moduleC/api/build/
/components-capability/moduleC/impl/build/
/components-core/moduleE/impl/build/
/components-core/moduleE/sample/build/
/components-build/annotation/build/
/components-build/processor/build/
/build/
/components-presentation/moduleD/build/
