/.idea/
/.gradle/
/local.properties
/app/build/
/components-business/moduleA/api/build/
/components-business/moduleA/impl/build/
/components-business/moduleB/api/build/
/components-business/moduleB/impl/build/
/components-platform/moduleC/api/build/
/components-platform/moduleC/impl/build/
/components-framework/moduleD/build/
