/.idea/
/.gradle/
/local.properties
/app/build/
/layer-business/moduleA/api/build/
/layer-business/moduleA/impl/build/
/layer-business/moduleA/sample/build/
/layer-business/moduleB/api/build/
/layer-business/moduleB/impl/build/
/layer-capability/moduleC/api/build/
/layer-capability/moduleC/impl/build/
/layer-core/moduleE/impl/build/
/layer-core/moduleE/sample/build/
/build-tools/annotation/build/
/build-tools/processor/build/
/build/
/layer-presentation/moduleD/build/
/.codebuddy/
